<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>NO</string>
			<key>defaults</key>
			<string>com.icenuts.wcsettings</string>
			<key>key</key>
			<string>dangerenabled</string>
			<key>label</key>
			<string>开启</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.icenuts.wcsettings</string>
			<key>key</key>
			<string>dangerkey1</string>
			<key>label</key>
			<string>关键字1:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.icenuts.wcsettings</string>
			<key>key</key>
			<string>dangerkey2</string>
			<key>label</key>
			<string>关键字2:</string>
		</dict>	
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.icenuts.wcsettings</string>
			<key>key</key>
			<string>dangerkey3</string>
			<key>label</key>
			<string>关键字3:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.icenuts.wcsettings</string>
			<key>key</key>
			<string>dangerkey4</string>
			<key>label</key>
			<string>关键字4:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.icenuts.wcsettings</string>
			<key>key</key>
			<string>dangerkey5</string>
			<key>label</key>
			<string>关键字5:</string>
		</dict>	
	</array>
	<key>title</key>
	<string>时间线过滤</string>
</dict>
</plist>
