<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>通用设置</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>YES</string>
			<key>defaults</key>
			<string>com.icenuts.wcsettings</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>开启</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>高级设置</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>YES</string>
			<key>defaults</key>
			<string>com.icenuts.wcsettings</string>
			<key>key</key>
			<string>removeAds</string>
			<key>label</key>
			<string>去除广告</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>alignment</key>
			<integer>1</integer>
			<key>label</key>
			<string>去除客户端内的广告信息，需重启微博客户端</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>YES</string>
			<key>defaults</key>
			<string>com.icenuts.wcsettings</string>
			<key>key</key>
			<string>filter</string>
			<key>label</key>
			<string>开启</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>wcfilterListController</string>
			<key>label</key>
			<string>关键字</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>alignment</key>
			<integer>1</integer>
			<key>label</key>
			<string>过滤包含关键字的所有微博推送</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>试验性功能</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>wcfilterDangerListController</string>
			<key>label</key>
			<string>时间线过滤</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>© 2012请 微博关注作者: _iceNuts 并提出宝贵建议</string>
		</dict>
	</array>
	<key>title</key>
	<string>WeiboCustomization</string>
</dict>
</plist>
